<h2>Agile » Backlogs</h2>

<% backlogs[:versions].each do |version_backlog| %>
	<h3><%= version_backlog.name %></h3>
	<div class="box">
		<%= render :partial => 'issues_list', :locals => { :issues => version_backlog.fixed_issues } %>
	</div>
<% end %>

<h3>Product</h3>
<div class="box">
	<%= render :partial => 'issues_list', :locals => { :issues => backlogs[:product] } %>
</div>

<%= context_menu issues_context_menu_path %>